.grid-container {
    gap: 20px;
    display: grid;
  
    grid-template-columns: 23% 24% 24% 24%;
  }
  .card {
    border: 5px sloid black;
    padding: 5px;
  }
  
  
  .grid-item2 .para {
    padding: 3px;
    background-color: green;
    text-align: center;
    color: white;
    width: "100%";
  }
  .secondPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .quantity {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .minus{
    border: none;
    background-color: green;
    color: white;
    border-radius: 3px;
    margin-left: 10px;
    width:30px;
  }
  .plus{
    border: none;
    background-color: green;
    color: white;
    border-radius: 3px;
    margin-left: 10px;
    width:30px;
  }
  .add{
    border: none;
    background-color: green;
    color: white;
    width:80px;
    border-radius: 10px;
    margin-left: 10px;
  }
  .viewMore{
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color:black;
    color:white;
    width: 100px;
  }
 